@import url("https://use.typekit.net/cgz0ohj.css");

$light-blue: #cdeaff;
$bright-blue: #52c3ff;
$heavy-blue: #48beff;
$bright-white: #f5f5f5;

$font-family-sans-serif:  "proxima-nova",sans-serif;
$font-family-proxima: "proxima-nova",sans-serif;
$font-family-kalisto: "kallisto",sans-serif;
$font-family-soleil: "soleil",sans-serif;
$sans-serif-heading: "proxima-nova";

$bg_gray: #888888;
$bg_light_gray: #333333;
$bar_start: #222222;
$red2: #D33060;
$red3: #BA1B4A;
$primary:#349cfa;
$red_shadow: #450014;
$blue2: #3894FF;
$black2:#1a1a1a;
$light_white: #eeeeee;
$info-green: #43c59e;
$light_green:#aaf683;
$dark-border:#575757;
$dark-text-bg:#111111;

$body-bg: #252525;

$block_side_padding : 52px;


$header: #636363;
$subheader: #354168;